<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Nueva Inversión</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formulario-agregar.css}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Agregar Nueva Inversión</h1>
    <form action="#" th:action="@{/inversiones/guardar}" th:object="${inversion}" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" th:field="*{nombre}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select id="tipo" name="tipo" class="form-control" required>
                    <option value="" disabled selected>Selecciona un Tipo</option>
                    <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="activo">Activo</label>
                <select id="activo" name="activoSimbolo" class="form-control" required>
                    <option value="" disabled selected>Selecciona un Activo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="montoInvertido">Monto Invertido ($)</label>
                <input type="number" step="0.01" id="montoInvertido" th:field="*{montoInvertido}" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
                <label for="precioInversion">Precio de Inversión ($)</label>
                <input type="number" step="0.01" id="precioInversion" th:field="*{precioInversion}" class="form-control" required />

        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="fechaInversion">Fecha Inversión</label>
                <input type="date" id="fechaInversion" th:field="*{fechaInversion}" class="form-control" />
            </div>

            <select id="broker" name="brokerNombre" class="form-control" required>
                <option value="" disabled selected>Selecciona un Broker</option>
                <option th:each="broker : ${brokers}" th:value="${broker.nombre}" th:text="${broker.nombre}">
                </option>
            </select>

            <div class="form-group">
                <label for="estrategia">Estrategia</label>
                <select id="estrategia" name="estrategiaNombre" class="form-control" required>
                    <option value="" disabled selected>Selecciona una Estrategia</option>
                    <option th:each="estrategia : ${estrategias}" th:value="${estrategia.nombre}" th:text="${estrategia.nombre}">
                    </option>
                </select>
            </div>





        <div class="form-group">
            <label for="comentarios">Comentarios</label>
            <textarea id="comentarios" th:field="*{comentarios}" class="form-control"></textarea>
        </div>

        <div class="form-group button-group">
            <button type="submit" class="btn btn-primary">Agregar Inversión</button>
            <a href="/inversiones/listar" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/script-formulario-agregar.js}"></script>
<script th:src="@{/js/script-activos.js}"></script>

</body>
</html>
